<div class="klaviyo-embed" data-ga-category="UserSignup" data-ga-action="KlaviyoEmbedFormFooter">
<p>Receive 15% off your first purchase and 10%<br> products day of release</p>
<form action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" class="validate">
  <input type="email" value="{{ customer.email }}" name="email" class="email klaviyo-field" placeholder="Enter Email" data-error_message="Invalid email" required>
  <input type="submit" value="Welcome" class="awesome">
  <div class="klaviyo_messages">
	<div class="success_message" style="display:none;"></div>
	<div class="error_message" style="display:none;"></div>
  </div>
  <input class="kv-listid klaviyo-field" type="hidden" name="g" value="a5UvGC">
</form>
</div>